@page "/my-documents"
@using DocumentsApp.Data.Dtos.DocumentDtos

@attribute [Authorize]

@inject NavigationManager NavigationManager

<PageTitle>DocumentsApp - My Documents</PageTitle>

<div class="row p-3 ">

    <div class="p-2 col-6 col-lg-3 col-xl-2">
        <AddNewDocumentCard />
    </div>

    @foreach (var doc in _documentDtos)
    {
        <div class="p-2 col-6 col-lg-3 col-xl-2">
            <DocumentCard Document="@doc" />
        </div>
    }

</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    readonly List<GetDocumentDto> _documentDtos = new List<GetDocumentDto>();

    protected override async Task OnInitializedAsync()
    {
        var random = new Random().Next(5,15);

        for (int i = 0; i < random; i++)
        {
            _documentDtos.Add(
                new GetDocumentDto()
                {
                    Name = "Lipsum",
                    Content = "lorem ipsum dolor sit amet",
                    Description = "lorem ipsum"
                }
                );
        }
    }

}