@using DocumentsApp.Shared.Dtos.DocumentDtos
@inject IDocumentService DocumentService

@if (DocumentDto is not null)
{
    <RadzenHtmlEditor
        @bind-Value=@DocumentDto.Content
        Change="OnChange"/>
}
else
{
    <p>Loading...</p>
}


@code {

    [Parameter]
    public GetDocumentDto? DocumentDto { get; set; }

    // save on ctrl+S instead of on any change.
    void OnChange(string html)
    {
        DocumentService.UpdateDocumentAsync(DocumentDto!.Id, new UpdateDocumentDto()
        {
            Content = DocumentDto.Content
        });
    }


}