.nav {
    @apply
    fixed h-screen card-shadow
    sm:static
    flex flex-col sm:h-screen text-gray-100
    bg-gradient-to-b from-primary-800 to-primary-900
    dark:bg-gradient-to-b dark:from-primary-800 dark:to-primary-900
    duration-200 ease-in-out transition-all gap-2 py-2
}
.nav-expand {
    @apply w-60 max-w-full px-2
}
.nav-collapse {
    @apply w-14
}
.nav-link {
    @apply
    flex justify-between items-center w-min self-center p-2.5 font-bold select-none rounded-lg
    transition ease-in-out duration-300
    hover:backdrop-brightness-125 cursor-pointer
}
.nav-link.active {
    @apply rounded-xl shadow-2xl bg-primary-800 dark:bg-primary-700
}
.nav-link-expand {
    @apply w-full
}
.nav-link-section {
    @apply flex flex-col gap-2
}
.nav-title-section {
    @apply flex gap-2 border-b pb-2
}
.nav-account-section {
    @apply flex justify-center items-center border-t pt-2
}