@import "css/_button.css";
@import "css/_header.css";
@import "css/_layout.css";
@import "css/_nav.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.tran {
    @apply transition-all ease-in-out duration-150
}

.tran-75 {
    @apply transition-all ease-in-out duration-75
}

.card-shadow {
    -webkit-box-shadow: 0 0 55px -10px rgb(108, 108, 108);
    -moz-box-shadow: 0 0 55px -10px rgb(108, 108, 108);
    box-shadow: 0 0 55px -10px rgb(108, 108, 108);
}
