@using DocumentsApp.Shared.Dtos.DocumentDtos
@inject IDocumentService DocumentService

@if (DocumentDto is not null)
{
    <RadzenHtmlEditor
        disabled="@true"
        @bind-Value=@DocumentDto.Content/>
}
else
{
    <p>Loading...</p>
}


@code {

    [Parameter]
    public GetDocumentDto? DocumentDto { get; set; }


    RenderFragment StringToHtml(string htmlString)
    {
        return new RenderFragment(b => b.AddMarkupContent(0, htmlString));
    }

}