@using DocumentsApp.Shared.Dtos.DocumentDtos
@inject IDocumentService DocumentService

@if (DocumentDto is not null)
{
    <div class="p-3">
        @StringToHtml(DocumentDto.Content)
    </div>
}
else
{
    <p>Loading...</p>
}


@code {

    [Parameter]
    public GetDocumentDto? DocumentDto { get; set; }


    RenderFragment StringToHtml(string htmlString)
    {
        return new RenderFragment(b => b.AddMarkupContent(0, htmlString));
    }

}