@using DocumentsApp.Data.Auth
@inject AuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <AuthorizeView>
            <Authorized>
                <a class="navbar-brand" href="">DocumentsApp</a>
            </Authorized>
            <NotAuthorized>
                <a class="navbar-brand" href="auth/signin">DocumentsApp</a>
            </NotAuthorized>
        </AuthorizeView>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth/signin">
                        <span class="oi oi-account-login" aria-hidden="true"></span>
                        Sign in
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth/signup">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                        Sign up
                    </NavLink>
                </div>
            </NotAuthorized>

            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-documents" Match="NavLinkMatch.All">
                        <span class="oi oi-document" aria-hidden="true"></span>
                        My Documents
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="shared-documents" Match="NavLinkMatch.All">
                        <span class="oi oi-share-boxed" aria-hidden="true"></span>
                        Shared Documents
                    </NavLink>
                </div>
                <div class="nav-item px-3 text-white">
                    <NavLink class="nav-link" href="auth/signout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span>
                        Sign Out
                    </NavLink>
                </div>
            </Authorized>

        </AuthorizeView>
    </nav>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}