@import "root.scss";

// small screen exclusive
@include media-breakpoint-down(lg) {
  header {
    border-bottom: 1px dashed $bg-base;
  }
  .doc-nav {
    background-image: linear-gradient(270deg, $gradient-darker 0%, $gradient 100%);
    position: sticky;
    top: 0;
  }
}

// big screens exclusive
@include media-breakpoint-up(lg) {
  header {
    position: fixed;
    top: 0;
  }
  .doc-nav {
    background-image: linear-gradient(330deg, $gradient-darker 0, $gradient 100%);
    min-width: $aside-width;
    max-width: $aside-width;
    position: fixed;
    top: $header-height;
    bottom: 0;
  }
  .page-content {
    margin-top: $header-height;
    margin-left: $aside-width;
  }
}

header {
  min-height: $header-height;
  max-height: $header-height;

  background-image: linear-gradient(270deg, $gradient-darker 0%, $gradient 100%);

  .app-title {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    height: 100%;
    gap: 4px;
    padding: 8px 16px;

    flex-grow: 1;

    * {
      margin: 0;
    }

    .nav-icon {
      font-size: 30px;
    }
  }

}

.nav-link {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: $white;
  transition: 75ms ease-out;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    color: $white;
    opacity: 0.75;
    backdrop-filter: brightness(0.95);
  }
  &:focus {
    backdrop-filter: brightness(0.97) blur(10px);
  }

  i {
    font-size: 1.5rem;
  }
}
