$light:           #D2E6FEFF;
$dark:            #020024FF;
$primary:         #1687FFFF;
$primary-darker:  #0C0C96FF;
$secondary:       #6F58B3FF;
$info:            #00D4FFFF;
$success:         #16995BFF;
$warning:         #DEC918FF;
$danger:          #EB200AFF;

// big screens variables
$header-height: 85px;
$aside-width: 28ch;

$bg-base: $light;

