$light:      #d2e6fe;
$dark:       rgba(2,0,36,1);
$primary:    rgba(0,168,255,1);
$primary-darker: rgb(12, 12, 150);
$secondary:  #6f58b3;
$info:       #00d4ff;
$success:    #16995b;
$warning:    #dec918;
$danger:     #eb200a;

// big screens variables
$header-height: 85px;
$aside-width: 24ch;

$bg-base: $light;

