<RadzenCard class="w-100 doc-card d-flex flex-column justify-content-center align-items-center text-center">
    <RadzenText
        TextStyle="TextStyle.H5"
        Text="Add a new document" />
    <hr>
    <span class="oi oi-plus display-2"></span>
</RadzenCard>